<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="BizCollege.DataAccessLayer.Tests.Properties.Settings.Bizcollege_nunitConnectionString"
            connectionString="Data Source=|DataDirectory|\Bizcollege_nunit.sdf"
            providerName="Microsoft.SqlServerCe.Client.3.5" />
    </connectionStrings>
</configuration>