<?xml version="1.0" encoding="utf-8" ?>
<hibernate-configuration xmlns="urn:nhibernate-configuration-2.2">
  <!-- MySQL settings
  <session-factory>
    <property name="connection.provider">NHibernate.Connection.DriverConnectionProvider</property>
    <property name="connection.driver_class">NHibernate.Driver.MySqlDataDriver</property>
    <property name="connection.connection_string">Database=Bizcollege_nunit;Data Source=localhost;User Id=root;Password=sudo</property>
    <property name="dialect">NHibernate.Dialect.MySQLDialect</property>
    <property name="proxyfactory.factory_class">NHibernate.ByteCode.LinFu.ProxyFactoryFactory, NHibernate.ByteCode.LinFu</property>
    <property name="show_sql">false</property>
  </session-factory>
  -->
  
  <!-- SQL Compact Edition settings (must add System.Data.SqlServerCe 3.5 reference to the project)-->
  <!--<session-factory>
    <property name="connection.provider">NHibernate.Connection.DriverConnectionProvider</property>
    <property name="connection.driver_class">NHibernate.Driver.SqlServerCeDriver</property>
    
    <property name="connection.connection_string">Data Source=BizCollege_nunit.sdf</property>
    <property name="dialect">NHibernate.Dialect.MsSqlCeDialect</property>
    <property name="proxyfactory.factory_class">NHibernate.ByteCode.LinFu.ProxyFactoryFactory, NHibernate.ByteCode.LinFu</property>
    <property name="show_sql">false</property>
  </session-factory>-->

  <session-factory>
    <property name="connection.provider">NHibernate.Connection.DriverConnectionProvider</property>
    <property name="connection.driver_class">NHibernate.Driver.SqlClientDriver</property>

    <!-- Uncomment and use when running the generateschema test to dump the latest schema to the production database-->
    <!--<property name="connection.connection_string">Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|BizCollege\App_Data\BizCollege_production.mdf;Integrated Security=True;User Instance=True</property>-->
    
    <!-- Points to the Bizcollege_nunit db used for running unit tests (we separate the unit test db from the production one used by the BizCollege WebApp-->
    <property name="connection.connection_string">Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|BizCollege.DataAccessLayer.Tests\BizCollege_nunit.mdf;Integrated Security=True;User Instance=True</property>
    
    <property name="dialect">NHibernate.Dialect.MsSql2008Dialect</property>
    <property name="proxyfactory.factory_class">NHibernate.ByteCode.LinFu.ProxyFactoryFactory, NHibernate.ByteCode.LinFu</property>
    <property name="show_sql">false</property>
  </session-factory>
  
</hibernate-configuration>