@model IEnumerable<BizCollegeItr.Models.Course>

@{
    ViewBag.Title = "Index";
}
<table>

@foreach (var item in Model) {
    <tr>
        <td>
            <h3>
                @Html.ActionLink(item.Title, "Details", new { id = item.CourseId })
            </h3>
            @item.Description
        </td>
       
    </tr>
}
</table>


